<div class="inkwell_multi_selector">
  <span class="name"> <%= options[:name] %>: </span>
  <div class="action">
    <span class="action_name">Change</span>
    <span class="action_icon"></span>
    <div class="dropdown" style="display: none">
    <%= render :partial => 'inkwell_timelines/multi_selector_items', :locals => {:records => records, :id => nil} %>


      <!--<div>-->
        <!--<span class="nesting collapsed"></span>-->
        <!--<span class="checkbox_with_label">Games</span>-->

        <!--<div class="nested" style="display: none">-->
          <!--<span class="nesting collapsed"></span>-->
          <!--<span class="checkbox_with_label checked">Community</span>-->

          <!--<div class="nested" style="display: none">-->
            <!--<span class="nesting"></span>-->
            <!--<span class="checkbox_with_label checked">Community1</span>-->
          <!--</div>-->
          <!--<div class="nested" style="display: none">-->
            <!--<span class="nesting"></span>-->
            <!--<span class="checkbox_with_label checked">Community2</span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div>-->
        <!--<span class="nesting"></span>-->
        <!--<span class="checkbox_with_label checked">TV</span>-->
      <!--</div>-->
      <!--<div>-->
        <!--<span class="nesting collapsed"></span>-->
        <!--<span class="checkbox_with_label checked">Community</span>-->

        <!--<div class="nested" style="display: none">-->
          <!--<span class="nesting"></span>-->
          <!--<span class="checkbox_with_label checked">Community</span>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
  <div class="current_state">
    <%= inkwell_selector_current_state records, options %>
  </div>
</div>