<!DOCTYPE html>
<html>
<head>
  <title>InkwellTimelines</title>
  <%= stylesheet_link_tag    "inkwell_timelines/application", :media => "all" %>
  <%= javascript_include_tag "inkwell_timelines/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
